.card{
   display: flex;
   align-items: center;
   margin: 1rem 5px;
   
   
   
}
.title{
    width: 20%;
    text-align: center;
}
.cardDetailedText{
    width: 80%;
}
.pill{
    padding: 0.1rem 0.5rem;
    width: fit-content;
    margin: 0px;
    border-radius: 0.375rem;
    background-color: rgb(214, 214, 214);
}

[data-theme='dark'] .pill {
    background-color: white;
    color:black
  }